---
---

// Variables
$font-color: #333;
$font-color-light: #666;
$font-color-muted: #999;

$border-color: #ccc;

$spacing-base: 8px;
$spacing-tiny: $spacing-base / 2;
$spacing-small: $spacing-base;
$spacing-regular: $spacing-base * 2;
$spacing-large: $spacing-base * 3;
$spacing-xlarge: $spacing-base * 4;
$spacing-xxlarge: $spacing-base * 8;

$font-family-base: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
$font-family-headings: georgia, serif;
$font-family-monospace: menlo, monaco, monospace;

$font-size-base: 16px;
$font-size-small: 12px;

$font-weight-bold: bold;
$font-weight-normal: normal;

$site-width: 760px;
$site-text-width: 660px;

$breakpoint-mobile: 760px;

// Colors
$purple-1: #b36bde;
$purple-2: #a0aced;

$orange-1: #ff9452;
$orange-2: #dba871;

$link-color: $purple-1;
$link-underline: $purple-2;

// Imports
@import "normalize";

@import "image-grids";
@import "layout";
@import "links";
@import "typography";

// Global
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}
