img {
}

.image-grid {
  display: flex;
  margin: 0 ((($site-width - $site-text-width) / -2) - 100);
  width: $site-width + 200;
  justify-content: center;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    margin: 0;
  }
  
  img { 
    max-width: 100%;
    width: 100%;
    display: block;
    height: auto;
  }

  .im-landscape {
    flex: 2.25;
    padding: $spacing-small;

  }

  .im-portrait {
    flex: 1;
    padding: $spacing-small;
  }

  .im-single {
    flex: 1;
    padding: $spacing-small;
  }
}

.image-grid {
  .im-landscape, .im-portrait {
    @media (max-width: $breakpoint-mobile) {
      padding: $spacing-tiny;
    }
  }
}
