header.global-nav {
  display: flex;
  padding: $spacing-regular;

  .global-nav__links {
    margin-left: auto;
  }

  a {
    color: $font-color-light;
    font-size: $font-size-small;
    letter-spacing: 1px;
    margin: 0 $spacing-small;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $font-color;
    }
  }
}

.new-feed {
  width: $site-width;
  margin: auto;
  margin-top: $spacing-xlarge * 2;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    padding: $spacing-regular;
  }

  .new-feed__date {
    color: $font-color-muted;
    font-size: $font-size-small;
  }

  .new-feed__post {
    align-items: center;
    border: 5px solid $purple-2;
    display: flex;
    height: 375px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: all 0.3s;
    margin-bottom: $spacing-large;

    &.theme-orange {
      border-color: $orange-2;
      .new-feed__description { background-color: $orange-2; }

      &:hover {
        border-color: $orange-1;
        .new-feed__description { background-color: $orange-1; }
      }
    }


    .new-feed__image {
      background-size: cover;
      filter: blur(1px);
      height: 375px;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: 0;
      transition: all 0.3s;
    }

    .new-feed__description {
      background-color: $purple-2;
      color: #fff;
      font-weight: bold;
      padding: $spacing-regular;
      text-align: center;
      font-size: 36px;
      letter-spacing: 3px;
      line-height: 48px;
      text-transform: uppercase;
      transition: all 0.3s;
      z-index: 5;

      @media (max-width: $breakpoint-mobile) {
        width: 100%;
      }
    }

    &.theme-purple {
      border-color: $purple-2;

      .new-feed__description {
        background-color: $purple-2;
      }
    }

    &:hover {
      border-color: $purple-1;

      .new-feed__image {
        transform: scale(1.01);
        opacity: 1.0;
      }

      .new-feed__description {
        background-color: $purple-1;
      }
    }
  }
}

.post {
  width: $site-text-width;
  margin: auto;
  margin-top: $spacing-xlarge * 4;
  margin-bottom: 300px;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    padding: $spacing-regular;
  }

  .post__date {
    color: $font-color-muted;
    font-size: $font-size-small;
    margin-bottom: $spacing-regular;
  }
}

.post__stats {
  margin: $spacing-xxlarge ((($site-width - $site-text-width) / -2) - 100);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }

  .post__stat {
    padding: $spacing-regular;
    text-align: center;
    font-family: $font-family-monospace;
  }

  .post__stat__value {
    font-weight: $font-weight-bold;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post__stat__label {
    font-size: $font-size-small;
  }

  img {
    width: 42px;
    height: auto;
  }
}

.post__location__info {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.post__location__address,
.post__location__hours {
  font-size: $font-size-small;
  font-family: $font-family-monospace;
  margin-bottom: $spacing-regular;
}

.footer {
  border-top: 1px solid $border-color;
  color: $font-color-muted;
  display: flex;
  font-size: $font-size-small;
  margin: $spacing-xxlarge auto;
  padding: $spacing-regular 0;
  width: $site-width;

  @media (max-width: $breakpoint-mobile) {
    padding: $spacing-regular;
    width: 100%;
  }

  .footer__copyright {
    margin-left: auto;
  }

  .footer__menu {
    a {
      display: block;
      border: none;
    }
  }
}
