<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
</head>
</html>
<body>
  <header class="global-nav">
    <div class="logo">
      travelsize.life
    </div>
    <div class="global-nav__links">
      <a href="#">Home</a>
      <a href="#">Destinations</a>
      <a href="#">Maps</a>
      <a href="#">About</a>
    </div>
  </header>
  {{ content }}
</body>
